<!Doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="www.thymeleaf.org">
<head>
    <title>TaskManager</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{css/index.css}">
</head>
<body>

<div class="task" th:each="task : ${test2}">
    <div class="top">
        <label>
        <h3 th:text="${task.title}"></h3>
        <p th:text="${task.priority}"></p>
        </label>
    </div>
    <p th:text="${task.description}"></p>
</div>
</body>
</html>

