<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/signUp.css}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
<header>
    <nav>

    </nav>
</header>

<div class="container">
    <main>
        <div class="other">
            <h3>Create Your Account</h3>
            <p>Let's get started with your 30 days free trial</p>
            <div class="google">
                <img th:src="@{/images/google.svg}" alt="Google">
                <p>Sign Up with Google</p>
            </div>
        </div>

        <form th:action="@{/web/signIn}" th:object="${user}" method="POST">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Sign Up</button>
        </form>
    </main>

    <aside>
        <img th:src="@{/images/task.jpg}" alt="">
    </aside>
</div>

</body>
</html>